* {
  padding: 0;
  margin: 0;
}
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
:root {
  --primary-color: #383a36;
  --second-color: #3d714e;
  --background-color: #efeeeb;
  --border: 4px;
  --heading-0: 34px;
  --heading-1: 24px;
  --text: 20px;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  font-size: 20px;
}
* {
  box-sizing: border-box;
}
